.body{
    background-color: solid grey;
}

.navbar{
    /* border: solid indigo; */
    background-color: burlywood;
    display: flex;
    height: 18vh;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

.navlogo{
    /* border: solid red; */
    width: 10%;
}

.navmenu{
    /* border: solid green; */
    color: white;
    width: 43%;
    justify-content: space-between;
    display: flex;
    align-content: center;
}

.navhelp{
    /* border: solid black; */
    width: 8%;
    padding: 12px;
    text-align: center;
    align-content: center;
}

.navlogin{
    /* border: solid blue; */
    width: 8%;
    align-content: center;
    margin-left: 2px;

}

.login{
    color: solid red;
    border-radius: 12%;
    padding: 12px;
    align-items: center;
        animation-duration: 3s;
        animation-name: slide-in;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      
}

.navsignup{
    /* border: solid pink; */
    width: 8%;
    align-content: center;
}

.signup{
    border-radius: 12%;
    padding: 12px;
    align-items: center;
}

/* Dropdown Button */
  .dropbtn {
    background-color: #04AA6D;
    color: rgb(57, 185, 218);
    padding: 16px;
    font-size: 16px;
    border: slategrey;
    -moz-animation-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .smallbusiness {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .smallbusinessbtn {
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: rgba(0,0,0,0.2);
    animation-duration: 3s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
      
  }
  
  /* Links inside the dropdown */
  .smallbusinessbtn{
    color: black;
    padding: 12px 16px;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .smallbusinessbtn a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .smallbusiness:hover .smallbusinessbtn {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .smallbusiness:hover .dropbtn {background-color: #8c12b1;}

  .imagecontainer{
    /* border: solid yellow; */
    background-color: purple;
    height: 457px;
    align-items: center;
    padding: 12px;
    margin: auto;
    object-position: center;
    max-width: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    animation:cubic-bezier(1, 0, 0, 1);
    animation-duration: 3s;
    animation-iteration-count: 1;


  }

  /* .paypalimage{
    border: solid turquoise;
    height: 220px;
    image-resolution: 1080; */


  .table{
    /* border: solid purple; */
    background-color: blue;
    height: 140px;
    width: 25%;
    
  }
    .form{
        background-color: green;
    }

    .gif{
        background-color: purple;
        border: solid black;
        height: 410px;
        width: 36%;
        padding: 10px;
    }

    .thanksgiving{
        background-color: bisque;
        border: solid black;
        padding: 5px;
        margin-bottom: 5px;
    }